/*=======================================
フッター
=========================================*/
.l-footer {}


/*=======================================
ページトップへ
=========================================*/
.l-pagetop {
	position: fixed;
	right: 30px;
	bottom: 30px;
	z-index: 999;
}